/* Content is hidden till page loads */
.hidden_until_loaded,
.hidden_until_loaded body,
.hidden_until_loaded div {
  visibility: hidden !important;
}

/* Global Variables */
:root {
  /* Font-Family */
  --open-sans-normal: "Open Sans", Arial, Helvetica, sans-serif;

  /* Color */
  --white: #ffffff;
  --grey-very-dark: #121212;
  --gray-medium-dark: #a9a9a9;
  --gray-light: #d5d5d5;
  --grey-very-light: #cdcccc;
  --bright-navy-blue: #2078C9;
  --fun-blue: #1E609D;
  --blue-st-patricks: #1f3f66;
  --tangaroa-blue: #122B42;
  --green-lime: #5bcd3e;
  --red: #ff0800;
  --cg-red: #dd3b38;
  --red-error: #FF4747;
  --lavender-blush: #fff4f4;
  --lavender-gray: #C2C8D0;
  --pantone: #d58a8a;
  --terra-cotta: #e06666;
}

body {
  margin: 0 auto;
  padding: 0;
  border: none;
  
}

@media screen and (min-width: 426px) {
  .gradient1 {
    height: 100%;
    width: 100%;
    background: linear-gradient(
      147.43deg, 
      #1F3F66 0%, 
      #173350 3.44%,
      #122B42 7.79%,
      #1F3F66 11.57%,
      #122B42 12.8%,
      #1C3B5F 18.65%, 
      #142E48 19.44%,
      #152F4A 63.16%,
      #1E3E64 78.14%,
      #142D46 80.12%,
      #1F3F66 83.25%,
      #122B42 92.77%,
      #1F3F66 93.85%,
      #1B395B 95.71%, 
      #122B42 100%
    );
    background-repeat: no-repeat;
  }

  .gradient2 {
    height: 100%;
    background: linear-gradient(
      180deg,
      rgba(255,255,255,0) 35%, 
      rgba(255,255,255,0.84) 63%, 
      #FFFFFF 100%
    );
    background-repeat: no-repeat;
  }
}

/* Error Messaging */
.error-bubble {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 12px 15px;
  margin: 0;
  text-align: left;
  position: fixed;
  top: 30px;
  left: 30px;
  color: var(--red);
  background-color: var(--lavender-blush);
  border: 1px solid var(--pantone);
  font-size: 13px;
  line-height: 18px;
  font-family: var(--open-sans-normal);
  z-index: 10001;
  white-space: nowrap;
  font-weight: 400;
}

.error-bubble .error-message {
  color: var(--pantone);
  font-size: inherit;
  line-height: inherit;
}

.error-message {
  color: var(--cg-red);
  font-size: 10px;
}

#error_close {
  color: var(--cg-red);
  font-size: 18px;
  font-weight: 700;
  display: inline-block;
  float: right;
  cursor: pointer;
  margin-top: -2px;
}

.error-bubble .error-bubble-arrow-border {
  display: block;
  border-color: var(--pantone) transparent transparent;
  border-style: solid;
  border-width: 6px;
  height: 0;
  width: 0;
  position: absolute;
  bottom: -13px;
  left: 10px;
}

/* Modal Section */
/* #modal_loading_spinner {
  position: fixed;
  z-index: 90001;
  color: #0078d7;
  font-size: 15px;
  margin: 0;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

#modal_loading {
  display: none;
  position: fixed;
  z-index: 90000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
} */

body.loading {
  overflow: hidden;
}

body.loading #modal_loading {
  display: block;
}

/* Element Styles */
/* .float_left {
  float: left;
}

.float_right {
  float: right;
} */

.layout {
  margin: 0 auto;
  padding: 30px 0 0 0;
  border-style: none;
  border-width: 0px;
  width: 100%;
  height: 645px;
  max-width: 475px;
  background: var(--white);
}

.layout_wrapper {
  width: 300px;
  height: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 478px) {
  .layout {
    position: relative;
    top: 50px;
    padding: 70px 0 0 0;
    height: 760px;
    box-shadow: 0 5px 10px 0 rgba(45,45,45,0.2);
  }
  .layout_wrapper {
    width: 65%;
    max-width: 475px;
  }
}

.hidden_fields {
  float: none;
  clear: both;
}

#text1_wrapper,
#text2_wrapper {
  display: block;
  width: 100%;
}

#text2_wrapper {
  padding-top: 30px;
  padding-bottom: 20px;
}

.text1 {
  height: 20px;
  font-family: var(--open-sans-normal);
  font-weight: 800;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  line-height: 20px;
}

.text2 {
  height: 27px;
  font-family: var(--open-sans-normal);
  font-weight: bold;
  letter-spacing: 0;
  line-height: 22px;
}

.text1,
.text2 {
  text-align: center;
  font-size: 20px;
  color: var(--grey-very-dark);
}

.form_wrapper {
  display: block;
  width: 100%;
  height: auto;
}



.fieldset {
  padding: 0;
  float: right;
  overflow: visible;
  width: 100%;
}

.form_spacing {
  padding-top: 15px;
}

.form_labels {
  font-family: var(--open-sans-normal);
  font-weight: 600;
  font-size: 12px;
  color: var(--grey-very-dark);
  position: relative;
  top: -62px;
  z-index: 1;
  left: 20px;
  background-color: var(--white);
  padding: 0 10px;
}

.label_span {
  color: var(--lavender-gray);
  font-weight: 100;
}

.form_inputs {
  border: 1px solid var(--lavender-gray);
  border-radius: 10px;
  background: var(--white);
  font-family: var(--open-sans-normal);
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: left;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0;
  color: var(--grey-very-dark);
  width: 100%;
  height: 50px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 29px;
  padding-right: 5px;
  margin-bottom: 2px;
}

::placeholder {
  opacity: 1;
  color: var(--gray-medium-dark);
}

:-ms-input-placeholder {
  color: var(--gray-medium-dark);
}

::-ms-input-placeholder {
  color: var(--gray-medium-dark);
}

.form_inputs_hover {
    border-color: var(--grey-light);
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    background: rgb(255, 255, 255);
}

/* Input Focus */
input {
  outline: none;
  border: none;
}

input:focus-visible {
  border: none;
  outline-color: var(--bright-navy-blue);
  outline-style: solid;
  outline-width: 1px;
}

input:focus + label {
  color: var(--fun-blue);
}

/* Errors */
.form_input_error {
  border-color: var(--red-error) !important;
  border-style: solid;
  border-width: 1px;
  background: var(--white);
}

.form_label_error {
  color: var(--red-error) !important;
  font-size: 12px;
}

.form_inputs_help,
.form_inputs_error_text {
  text-align: left;
  color: var(--red-error);
  font-family: var(--open-sans-normal);
  font-size: 12px;
  letter-spacing: 0;
  line-height: 17px;
  margin-left: 2px;
  overflow: hidden;
  width: 100%;
}

.form_inputs_help {
  margin-top: -15px;
}

.form_inputs_error_text {
  margin-top: 2px;
}

/* Hide Error Messages */
.error {
  display: none;
}

/* Hide Elements */
.hide {
  display: none;
}

/* Checkboxes */
.checkbox_wrapper {
  padding-bottom: 25px
}

.flex {
  display: flex;
}

.label_block {
  padding-left: 5px;
  padding-right: 5px;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  background-color: var(--white);
  border: 2px solid var(--gray-light);
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

.checkbox_label {
  width: 263px;
  font-family: var(--open-sans-normal);
  color: var(--grey-very-dark);
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 0;
  line-height: 20px;
  cursor: pointer;
}

input[type="checkbox"]:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00c";
  font-size: 16px;
  color: var(--green-lime);
  display: none;
}

input[type="checkbox"]:hover {
  background-color: var(--white);
}

input[type="checkbox"]:checked {
  background-color: var(--white);
}

input[type="checkbox"]:checked:after {
  display: block;
}

.terms_and_conditions,
.privacy_policy,
.browse-more-news {
  font-family: var(--open-sans-norml);
  text-decoration: none;
  color: var(--bright-navy-blue);
}


/* Sign Up - Button */
.sign-up_wrapper {
  display: block;
  width: 100%;
  height: 60px;
  z-index: 9000;
  padding-top: 30px;
}

.sign-up {
  font-family: var(--open-sans-normal);
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  line-height: 19px;
  color: var(--white);
  border-style: none;
  border-width: 0px;
  border-radius: 10px;
  background: var(--blue-st-patricks);
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.sign-up:hover {
  border-radius: 10px;
  background-color: var(--tangaroa-blue);
  box-shadow: 0 5px 10px 0 rgba(45,45,45,0.2);
}

.sign-up:active {
  border-radius: 10px;
  background-color: #1F3F66;
}

.sign-up:disabled {
  background-color: var(--grey-very-light);
  color: var(--white);
  box-shadow: none;
}

/* Thank you for subscribing */
.thxtext1_wrapper {
  padding-top: 30px;
  padding-bottom: 20px;
}

.thxtext1 {
  font-family: var(--open-sans-normal);
  font-weight: bold;
  color: var(--grey-very-dark);
  font-size: 20px;
  text-align: center;
}

.thxtext2 {
  font-family: var(--open-sans-normal);
  color: var(--grey-very-dark);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 12px;
  text-align: center;
  padding-top: 20px;
}

.browse-more-news {
  line-height: 16px;
  color: var(--bright-navy-blue);
}
