/* Content is hidden till page loads */
.hidden_until_loaded,
.hidden_until_loaded body,
.hidden_until_loaded div {
  visibility: hidden !important;
}

/* Global Variables */
:root {
  /* Font-Family */
  --open-sans-normal: "Open Sans", Arial, Helvetica, sans-serif;

  /* Color */
  --white: #ffffff;
  --grey-very-dark: #121212;
  --grey-dark-2: #202020;
  --grey-60: #999999;
  --gray-medium-dark: #a9a9a9;
  --gray-light: #d5d5d5;
  --grey-very-light: #cdcccc;
  --bright-navy-blue: #2078C9;
  --fun-blue: #1E609D;
  --blue-st-patricks: #1f3f66;
  --tangaroa-blue: #122B42;
  --green-lime: #5bcd3e;
  --red: #ff0800;
  --red-crimson: #920502;
  --cg-red: #dd3b38;
  --red-error: #FF4747;
  --lavender-blush: #fff4f4;
  --lavender-gray: #C2C8D0;
  --pantone: #d58a8a;
  --terra-cotta: #e06666;
}

body {
  margin: 0 auto;
  padding: 0;
  border: none;
  
}

.layout {
   margin: 0 auto;
   padding: 15px 0 0 0;
   border-style: none;
   border-width: 0px;
   width: 100%;
   height: 215px;
   background: var(--grey-dark-2);
}

.layout_wrapper {
   width: 315px;
   height: auto;
   margin: 0 auto;
}

.hidden_fields {
  float: none;
  clear: both;
}

#text1_wrapper,
#text2_wrapper {
  display: block;
  width: 100%;
}

#text2_wrapper {
  padding-top: 10px;
  padding-bottom: 30px;
}

.text1 {
  height: 20px;
  font-family: var(--open-sans-normal);
  font-size: 18px;
  font-weight: 800;
}

.text2 {
  height: 27px;
  font-family: var(--open-sans-normal);
  font-size: 12px;
}

.text1,
.text2 {
  text-align: center;
  color: var(--white);
  letter-spacing: 0;
  line-height: 20px;
}

.form_wrapper {
  display: block;
  width: 100%;
  height: auto;
}

.fieldset {
  padding: 0;
  float: right;
  overflow: visible;
  width: 100%;
}

.form_spacing {
  padding-top: 15px;
}

.form_labels {
  font-family: var(--open-sans-normal);
  font-weight: 600;
  font-size: 12px;
  color: var(--grey-very-dark);
  position: relative;
  top: -62px;
  z-index: 1;
  left: 20px;
  background-color: var(--white);
  padding: 0 10px;
  display: none;
}

.label_span {
  color: var(--lavender-gray);
  font-weight: 100;
}

.visibility_show {
  visibility: visible;
}

.form_inputs {
  border: 1px solid var(--grey-very-light);
  border-radius: 4px;
  background: var(--white);
  font-family: var(--open-sans-normal);
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: left;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  color: var(--grey-very-dark);
  width: 100%;
  max-width: 315px;
  height: 40px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 5px;
  margin-bottom: 2px;
}

::placeholder {
  opacity: 1;
  color: var(--gray-medium-dark);
}

:-ms-input-placeholder {
  color: var(--gray-medium-dark);
}

::-ms-input-placeholder {
  color: var(--gray-medium-dark);
}

/* Input Focus */
input {
  outline: none;
  border: none;
}

input:focus-visible {
  border: none;
  outline-color: var(--bright-navy-blue);
  outline-style: solid;
  outline-width: 1px;
}

/* Hide Elements */
.hide {
  display: none;
}

/* Sign Up - Button */
.sign-up_wrapper {
  display: block;
  border-radius: 1px;
  z-index: 9000;
  padding-top: 15px;
}

.sign-up {
  font-family: var(--open-sans-normal);
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 0;
  color: var(--white);
  border-style: none;
  border-width: 0px;
  border-radius: 1px;
  background: var(--red-crimson);
  width: 100%;
  height: 40px;
  cursor: pointer;
}

@media screen and (min-width: 478px) {
   .layout,
   .layout_wrapper {
      margin: 0;
   }

   .layout {
      padding: 0;
      height: auto;
      max-width: 384px;
   }

   .form {
      display: flex;
   }  

   .form_inputs {
      width: 260px;
      border-radius: 1px 0 0 1px;
   }

   .text1, .text2 {
    text-align: left;
   }

   .sign-up {
      width: 122px;
      border-radius: 0px 1px 1px 0px;
   }
}